fastapi==0.78.0
fastapi_resource_server==0.1.2
uvicorn==0.17.6
watchgod==0.8.2
httptools==0.4.0
python-dotenv==0.20.0
PyYAML==6.0
uvloop==0.16.0
python-multipart==0.0.5
sqlalchemy==1.4.36
psycopg2-binary==2.9.3
requests==2.27.1
pytest==7.1.2
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-keycloak==1.0.1
beautifulsoup4==4.11.1
pyopenssl==22.0.0
PrettyTable==3.3.0
openpyxl==3.0.9
aiohttp==3.8.1
httpx==0.23.0
gunicorn
celery==5.2.7
redis==4.3.3
flower==1.0.0
playwright==1.27
langdetect==1.0.9
psutil==5.9.4